.columns-full-width-blue {
    $gap: 70px;
    background-color: #45658D;
    color: #fff;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    margin-top: 0 !important;

    a, a:visited {
        color: #fff;
    }

    .paragraph--type--uswds-grid {
        & > .usa-grid {
            display: flex;
            gap: $gap * 2;
            &::after {
                display: none;
            }
            & > div {
                flex-basis: 50%;
                position: relative;
                margin-right: 0;
                padding: 10px 0;
                &:last-child {
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        border-right: 1px solid #fff;
                        height: 100%;
                        width: 1px;
                        top: 0;
                        left: -$gap;
                    }
                }
            }
            .paragraph {
                padding-bottom: 0;
            }
        }

    }
    @media screen and (max-width: $medium-screen) {
        .paragraph--type--uswds-grid {
            & > .usa-grid {
                flex-direction: column;
                gap: $gap;

                & > div {
                    flex-basis: unset;
                    &:last-child {
                        &::after {
                            // content: '';
                            // display: block;
                            // position: absolute;
                            border-right: none;
                            border-top: 1px solid #fff;
                            height: unset;
                            width: 100%;
                            top: -#{$gap / 2};
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}
